
body{
	
	background-image: url(img/00912_HD.jpg);
	background-size: cover;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;

	-webkit-background-repeat:no-repeat;
	background-repeat: no-repeat;
	height: 100%;

}
.container{
	
}

a.nav-item{
	 border-bottom: 2px solid #b28870;
	 margin: 5px;
	 color: #b28870;
}

button.btn.btn-lg.btn-danger {
    color: #fff;
    background-color: #a1c7a2;
    border-color: #a1c7a2;
    margin-top: 150px;
    }

.nav-item{

	display: flex;

    justify-content: space-around;

    color: #b28870;





	

	padding: 20px;
}

.nav-item:hover{
	background: black;
	font-size: 1em;
	transition: 2s;
	color: white;
	text-decoration: none;
}
.btn{
	
	margin-top: 80px;

}
.shift:hover{
	transition: 2s;
	transform: scale(1.1);
}